<html>
    <head>

    </head>

    <body>
        <div class="nav-bar">
            <nav>
                <a routerLink="/doc" >Add Doctor</a>
                <a routerLink="/pat">Add Patient</a>
                <a routerLink="#">Find Doctor</a>
                <a routerLink="/contact">Contact Us</a>
                <a routerLink="/help">Help</a>
                <a routerLink="/log">Login</a>
                <a routerLink="/reg">Register</a>
            </nav>
        </div>

        <div class="content">
            <div class="head">
                <h2>Health is Wealth</h2>
            <h3>Today.Tomorrow.Always</h3>
            </div>

            <div class="con">
                <a routerLink="/contact"><img src="../../assets/Images/telephone-612061_1280.jpg" class="contact"></a>
            </div>
            

        </div>

        <footer>
            <p>Thank You :)</p>
        </footer>
    </body>
    
</html>

